# build output
dist/
# generated types
.astro/

# local dev server logs
codex-dev-server*.log

# dependencies
node_modules/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# VS CODE
.vscode/
