---
import { getLargestVariant } from "@/lib/generated/image-manifest";

interface Props {
    src: string;
    title?: string;
    poster?: string;
}

const { src, title = "Project video", poster } = Astro.props;
const resolvedPoster = poster ? getLargestVariant(poster) : undefined;
---

<div class="my-8 aspect-video w-full overflow-hidden rounded-lg border border-white/10 bg-black shadow-lg">
    <video
        class="h-full w-full"
        src={src}
        title={title}
        poster={resolvedPoster}
        controls
        preload="metadata"
        playsinline
    ></video>
</div>
